.FooterAd{
    display: flex;
    /* padding-top: 40px; */
    background-color: rgb(255, 251, 251);
    /* padding-bottom: 50px; */
}

.ad{

    border-right: 2px solid rgb(185, 184, 184);
    padding-right: 5px;
    width: 40%;
    padding-top: 30px;
    height: 150px;
    align-items: center;
    align-content: center;
    color: rgb(4, 46, 4);

}

.playstore{

    padding-left: 30px;
    padding-top: 50px;
    color: rgb(2, 27, 2);


}

